.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.modal-box {
  position: fixed;
  left: 10vw;
  top: 10vh;
  width: 80vw;
  height: 80vh;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
  z-index: 100;
}

.modal-box img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70vw;
  max-height: 70vh
}

.btn-close {
  position: fixed;
  right: 12vw;
  top: 13vh;
  z-index: 101;
}

