<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form #authForm = ngForm (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          ngModel
          required
          email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          ngModel
          required
          minlength="6">
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="authForm.invalid || loading"><div class="lds-dual-ring" *ngIf="loading" role="status" aria-hidden="true"></div>&nbsp;{{ loginMode ? 'Login' : 'Sign Up' }}</button> |
        <button type="button"
          (click)="switchMode()"
          class="btn btn-primary">Switch to{{ loginMode ? ' Sign Up' : ' Login' }}</button>
      </div>
    </form>
    <!-- <hr *ngIf="errorMessage !== ''">
    <div class="alert alert-danger" *ngIf="errorMessage != ''">{{ errorMessage }}</div> -->
  </div>
</div>
<ng-template appPlaceholder></ng-template>
<app-alert [message]="errorMessage" *ngIf="errorMessage!=''"(dismiss)="errorMessage=''"></app-alert>
